/ltsmin
/bin
/lib
/include
/share
/src
/mcrl2-13132
/mcrl2-201409.0
/mcrl2-201409.0.tar.gz
*.so
*.o
*.gcf
*.pbes
*.spg
/paritygame-generator
/data/keiren/status
/data/keiren/pbes
/data/keiren/spg
jittyc_*.cpp
jittyc_*.cpp.log
